.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body, p {margin:0; padding:0;}
body {background-color:#e4f8ff; font: 13px/21px Georgia, 'times new roman', serif; color:#052d3e;}
img {border: none;}

/* Editable content image */
.edy-positionable-container-left {
  margin-right: 15px;
}
.edy-positionable-container-right {
  margin-left: 15px;
}
.edy-image-container-with-title:after {
  display: block;
  padding: 4px;
  font-size: 10px;
  line-height: 1.3em;
  content: attr(data-title);
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

pre {
white-space: normal;
}
b, strong, .active {font-weight: bold;}
a {color:#138fc2; text-decoration:underline;}
a:hover {text-decoration: none;}
a.none {text-decoration: none; color:#052d3e;}
a.none:hover {text-decoration:underline;}
h1, h2, h3 {margin:0; padding:0 0 10px 0; }
h1 {font-size:30px; line-height:40px; font-weight:normal; color:#138FC2;}
h2 {font-size:25px; line-height:35px; font-weight:normal; color:#fff;}
h3 {font-size:20px; line-height:30px; color:#fff;}
form {padding:0; margin:5px 0 0 0;}

.clearer {clear: both; font-size: 1px; line-height: 1px; height:1px; margin:0; padding:0;}
.left {float: left;}
.right {float: right;}
.small {font-size:11px; line-height:21px;}
.clearerwhite {background:#fff; height:1px;}

div#header, div#contentBG, div#content {
	margin:auto;	
	padding:0;
}
	#header {
  width:789px;
	}
        #header h1 {
                color: white;
        }
	#headerBG {
  background:#c9e8f4 url('../images/calgary-b.png?1') repeat-x top;
	}
	#contentBG {
  background: url('../images/content-b.png?1') no-repeat 1px 77px;
  min-height:249px;
  height:auto !important;
  height:249px;
  width:1022px;
	}
	#content {
  width:789px;
	}
	#header .hr {height:10px; line-height:1px; font-size:1px;}
div#container {
	position:relative;
	width:100%;
	background: url('../images/container-b.png?1') repeat-x top;
}
.titletop {
	background:#63c2ea;
	height:13px;
}
div#title {
	background:#138fc2;
}
#title h1 {
	font-variant:small-caps;
	line-height:40px;
}
#title .L {width:498px; padding:10px 20px 10px 30px; float:left;}
#lang {width:200px; text-align:right; padding:10px 30px 10px 0; float:right;}
#lang ul { margin: 0; padding: 0; list-style-type: none; }
#lang li { margin: 0; padding: 0 0 0 7px; display: inline; }
#lang a {
	color:#5cbfe8; 
	text-decoration:none;
	
}
	#lang a:hover {text-decoration:underline;}
	#lang a.active {color:#fff;}
#mainmenu, div#submenu {
	font-size:15px;
	padding:0 22px 6px 22px;
	margin:0;
}
#mainmenu ul, #submenu ul {
padding: 0;
margin: 0;
}

#mainmenu li, #submenu li {
margin: 0;
padding: 0;
display:inline;

}
	#mainmenu a, #submenu a {
  line-height:30px;
  padding:4px 6px;
  text-decoration:none;
  color:#000;

	}
	#mainmenu a:hover, #submenu a:hover { background:#c8f1ff;	}
	#mainmenu a.active {font-weight:normal;	background:#fff;}
  #mainmenu a.edy-cbtn, #submenu a.edy-cbtn {
    margin-right: 5px;
    margin-left: 5px;
  }
  #mainmenu a.edy-cbtn:hover, #submenu a.edy-cbtn:hover {
    background: none;
  }
	#submenu {
  background:#feffff url('../images/submenu-b.png?1') repeat-x top; 

  margin-bottom:10px;
  width:745px;
  width:745px;
  display:block;
	}
	.menuHR {background:#fff; height:4px; line-height:1px; font-size:1px;}
	div#body {
	width:470px;
	background:#fff;
	min-height:249px;
	height:auto !important;
	height:249px;
}
	#body .text {
  padding:20px 30px 30px 30px;
	}
        #body .text-inner {
           width: 410px;
           /*overflow: hidden;*/
  padding-bottom: 1px;
        }
	#body .text h2, #body .text h3 {
  color:#000;
	}
	#body .date {
  width:47px;
  margin:5px 17px 5px 0;
	}
	#body .date .dd {
  font-size:30px;
  line-height:30px;
  color:#fff;
  text-align:center;
  padding: 3px 0 6px 0;
  background:#58bde7 url('../images/date-b.png?1') no-repeat top right;
	}
	#body .date .mm {
  text-align:center;
  color:#fff;
  padding:0px 0 4px 0;
  background:#138fc2 url('../images/date-b.png?1') no-repeat bottom right;
	}
	#body .text.blog {
  padding-bottom:10px;
	}
	#body .blogpost {
  padding:0 0 20px 0;
  width:346px;
	}
	.data, .data2 {
  color:#138fc2;
  padding-bottom:8px;
	}
	.data {
  margin-top:-10px;
	}
div#comments {
	padding-top:25px;
}
	#comments .hr {
  background: url('../images/comments-hr.png?1') repeat-x 0 12px;
  margin:0 0 15px 0;
	}
	#comments .hr2 {
  background: url('../images/comments-hr2.png?1') repeat-x 0 12px;
  margin:0 0 15px 0;
	}	
	#comments h4 {
  color:#138fc2;
  font-size:14px;
  line-height:20px;
  font-weight:bold;
  padding:5px 18px 5px 0;
  background:#fff;
  display:inline;
	}
	#comments .formtitle {
  text-align:right;

  width:115px;
  padding-top:3px;
	}
	#comments input.textbox, #comments textarea{
  border:1px solid #138fc2;
  padding:3px 5px 2px 5px;
  height:19px;
  width:259px;
  font-family: Georgia, 'times new roman', serif;
  margin:0 0 4px 0;

  font-size:13px;
  line-height:21px;
	}
	#comments textarea {
  height:86px;
  max-height: 150px;	
	}
	#comments .add {
  width:100%;
  text-align:right;
  background: url('../images/comments-hr2.png?1') repeat-x 0 12px;
	}
	#comments  input.submit {
  border:none;
  background:#fff;
  color:#138fc2;
  height:20px;
  padding:0 0 0 15px;
  margin:0;
  font-size:14px;
  line-height:20px;
  font-weight:bold;
  font-family:Georgia, 'times new roman', serif;
	}	
div#sidebar {
	width:289px;
	max-width:289px;
	padding:20px 0 30px 30px;
	overflow-x: hidden;
}
	#sidebar strong {
  float:left;
  width:60px;
	}
	#sidebar a {
  float:right;
  display:block;
  width:220px;
	}
	#sidebar a.allnews {
  font-weight:bold;
  color:#fff;
  padding:10px 0 10px 0;
	}
div#footer {
	margin:18px 0;
	padding-top:12px;
	border-top:3px solid #128fc2;
}
	#footer .left {width:539px;}
	#footer .right {width:250px; text-align:right;}
#search {
	background: white;
	text-align: center;
}
#search input {
	border: 1px solid #a7e2f7;
	color: #138fc2;
	height: 17px;
	width: 246px;
	margin: 30px 0;
	padding: 2px 0 0 2px;
}

#mainmenu>ul li.untranslated {
*background: #9cd6ee;
}
#mainmenu ul li.untranslated {
  _background: #9cd6ee;
}



#mainmenu li, #submenu li {
  display: inline-block;
  float: left;
}
/* forms */

   .form_area {

      margin: 20px 0;

}

.form_field {

  margin: 0 0 5px;

}
.form_field label {
  display: block;
  font-weight: bold;
}

.form_error {

  color: #c71414;

  font-weight: bold;

  font-size: 12px;

  border: 1px dotted #c71414;

  padding: 5px;

}

.form_field_error {

  color: #c71414;

  font-size: 10px;
  line-height: 14px;

}

.form_notice {

  color: green;

  border: 1px dotted green;

  padding: 5px;

}
.form_field_size_large {

width: 98%;

}

.form_field_size_medium {

width: 50%;

}
.form_field_size_small {

width: 25%;

}
body .add-article {
  margin-bottom: 15px;
  display: inline-block !important;
  text-decoration: none;
}